USE [QLKS]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [varchar](11) NOT NULL,
	[TEN_KH] [nvarchar](100) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[CCCD] [varchar](15) NULL,
	[SDT] [varchar](13) NULL,
	[EMAIL] [varchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_DAT_PHONG]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_DAT_PHONG](
	[SO_PHIEU_DAT_PHONG] [varchar](11) NOT NULL,
	[MA_KH] [varchar](11) NOT NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[DATCOC] [money] NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SO_PHIEU_DAT_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MA_PHONG] [varchar](11) NOT NULL,
	[SO_PHONG] [nchar](11) NULL,
	[TRANG_THAI] [bit] NULL,
	[TANG] [tinyint] NULL,
	[MA_LOAI] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_DAT_PHONG]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_DAT_PHONG](
	[SO_PHIEU_DAT_PHONG] [varchar](11) NOT NULL,
	[MA_PHONG] [varchar](11) NOT NULL,
	[NGAY_DAT] [smalldatetime] NULL,
	[NGAY_TRA] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SO_PHIEU_DAT_PHONG] ASC,
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](11) NOT NULL,
	[MA_NV] [varchar](11) NOT NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[TONGTIEN] [money] NULL,
	[SO_PHIEU_DAT_PHONG] [varchar](11) NOT NULL,
	[MA_PHONG] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DataGridView_Tab3]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[DataGridView_Tab3] as
SELECT pdp.SO_PHIEU_DAT_PHONG, kh.MA_KH, kh.TEN_KH, kh.NGAYSINH, kh.CCCD, kh.SDT, p.MA_PHONG, ctpdp.NGAY_DAT, ctpdp.NGAY_TRA, pdp.DATCOC, pdp.TONGTIEN
FROM dbo.PHIEU_DAT_PHONG AS pdp
INNER JOIN dbo.CHI_TIET_PHIEU_DAT_PHONG AS ctpdp ON pdp.SO_PHIEU_DAT_PHONG = ctpdp.SO_PHIEU_DAT_PHONG
INNER JOIN dbo.KHACH_HANG AS kh ON kh.MA_KH = pdp.MA_KH
INNER JOIN dbo.PHONG AS p ON p.MA_PHONG = ctpdp.MA_PHONG
WHERE (p.TRANG_THAI = 1) And (Select COUNT(hd.SO_PHIEU_DAT_PHONG) 
							from dbo.HOADON AS hd
							where hd.SO_PHIEU_DAT_PHONG=pdp.SO_PHIEU_DAT_PHONG) != (Select COUNT(ctpdp.SO_PHIEU_DAT_PHONG) AS SoLanXuatHien
																					from dbo.CHI_TIET_PHIEU_DAT_PHONG AS ctpdp
																					where ctpdp.SO_PHIEU_DAT_PHONG=pdp.SO_PHIEU_DAT_PHONG)
GO
/****** Object:  Table [dbo].[CHI_TIET_LICH_LAM_VIEC]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_LICH_LAM_VIEC](
	[MA_NV] [varchar](11) NOT NULL,
	[MA_LICH] [varchar](11) NOT NULL,
	[NGAY_LAM] [smalldatetime] NULL,
	[GIO_BAT_DAU] [smalldatetime] NULL,
	[GIO_KET_THUC] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC,
	[MA_LICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHONG]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHONG](
	[MA_TN] [varchar](11) NOT NULL,
	[MA_PHONG] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_TN] ASC,
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MA_CV] [varchar](11) NOT NULL,
	[TEN_CV] [nvarchar](30) NULL,
	[LCB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_LAM_VIEC]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_LAM_VIEC](
	[MA_LICH] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_LICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_PHONG]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_PHONG](
	[MA_LOAI] [varchar](11) NOT NULL,
	[GIA_THUE_PHONG] [money] NULL,
	[LOAI_PHONG] [nvarchar](50) NULL,
	[SO_LUONG_NGUOI_TOI_DA] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [varchar](11) NOT NULL,
	[TEN_NV] [nvarchar](100) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[GIOITINH] [bit] NULL,
	[SDT] [varchar](12) NULL,
	[CCCD] [varchar](15) NOT NULL,
	[EMAIL] [varchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[MA_CV] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEN_NGHI]    Script Date: 8/9/2023 7:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEN_NGHI](
	[MA_TN] [varchar](11) NOT NULL,
	[TEN_TN] [nvarchar](30) NULL,
	[KICH_THUOC] [nvarchar](30) NULL,
	[MAU_SAC] [nvarchar](20) NULL,
	[GiaTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_TN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHI_TIET_LICH_LAM_VIEC] ([MA_NV], [MA_LICH], [NGAY_LAM], [GIO_BAT_DAU], [GIO_KET_THUC]) VALUES (N'NV-1', N'1', CAST(N'2023-08-02T00:00:00' AS SmallDateTime), CAST(N'2023-07-30T10:34:00' AS SmallDateTime), CAST(N'2023-07-30T22:34:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_LICH_LAM_VIEC] ([MA_NV], [MA_LICH], [NGAY_LAM], [GIO_BAT_DAU], [GIO_KET_THUC]) VALUES (N'NV-2', N'1', CAST(N'2023-08-04T00:00:00' AS SmallDateTime), CAST(N'2023-08-03T08:41:00' AS SmallDateTime), CAST(N'2023-08-03T20:41:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_LICH_LAM_VIEC] ([MA_NV], [MA_LICH], [NGAY_LAM], [GIO_BAT_DAU], [GIO_KET_THUC]) VALUES (N'NV-6', N'1', CAST(N'2023-08-09T00:00:00' AS SmallDateTime), CAST(N'2023-08-07T17:30:00' AS SmallDateTime), CAST(N'2023-08-07T21:30:00' AS SmallDateTime))
GO
INSERT [dbo].[CHI_TIET_PHIEU_DAT_PHONG] ([SO_PHIEU_DAT_PHONG], [MA_PHONG], [NGAY_DAT], [NGAY_TRA]) VALUES (N'PDP-1', N'105', CAST(N'2020-01-05T14:00:00' AS SmallDateTime), CAST(N'2020-01-10T12:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_PHIEU_DAT_PHONG] ([SO_PHIEU_DAT_PHONG], [MA_PHONG], [NGAY_DAT], [NGAY_TRA]) VALUES (N'PDP-10', N'105', CAST(N'2020-10-05T14:00:00' AS SmallDateTime), CAST(N'2020-10-10T12:00:00' AS SmallDateTime))
INSERT [dbo].[CHI_TIET_PHIEU_DAT_PHONG] ([SO_PHIEU_DAT_PHONG], [MA_PHONG], [NGAY_DAT], [NGAY_TRA]) VALUES (N'PDP-11', N'105', CAST(N'2020-11-05T14:00:00' AS SmallDateTime), CAST(N'2020-11-10T12:00:00' AS SmallDateTime))
GO
INSERT [dbo].[CHUC_VU] ([MA_CV], [TEN_CV], [LCB]) VALUES (N'NVBP', N'Nhân viên buồng phòng', 500000)
INSERT [dbo].[CHUC_VU] ([MA_CV], [TEN_CV], [LCB]) VALUES (N'NVBV', N'Nhân viên bảo vệ', 400000)
INSERT [dbo].[CHUC_VU] ([MA_CV], [TEN_CV], [LCB]) VALUES (N'NVDV', N'Nhân viên dịch vụ', 550000)
GO
INSERT [dbo].[HOADON] ([SOHD], [MA_NV], [NGAYLAP], [TONGTIEN], [SO_PHIEU_DAT_PHONG], [MA_PHONG]) VALUES (N'HD-1       ', N'NV-1', CAST(N'2020-01-10T11:00:00' AS SmallDateTime), 2000000.0000, N'PDP-1', N'105')
INSERT [dbo].[HOADON] ([SOHD], [MA_NV], [NGAYLAP], [TONGTIEN], [SO_PHIEU_DAT_PHONG], [MA_PHONG]) VALUES (N'HD-10      ', N'NV-1', CAST(N'2020-10-10T11:00:00' AS SmallDateTime), 6500000.0000, N'PDP-10', N'105')
INSERT [dbo].[HOADON] ([SOHD], [MA_NV], [NGAYLAP], [TONGTIEN], [SO_PHIEU_DAT_PHONG], [MA_PHONG]) VALUES (N'HD-11      ', N'NV-1', CAST(N'2020-11-10T11:00:00' AS SmallDateTime), 7000000.0000, N'PDP-11', N'105')
GO
INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [NGAYSINH], [CCCD], [SDT], [EMAIL], [DIACHI]) VALUES (N'KH-1       ', N'A', CAST(N'1978-03-18T00:00:00' AS SmallDateTime), N'111111111111   ', N'1111111111   ', N'A@gmail.com
', N'178 Nguyễn Trãi
')
INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [NGAYSINH], [CCCD], [SDT], [EMAIL], [DIACHI]) VALUES (N'KH-2', N'B', CAST(N'2023-08-02T00:00:00' AS SmallDateTime), N'320000015555', N'5757555555', N'', N'')
INSERT [dbo].[KHACH_HANG] ([MA_KH], [TEN_KH], [NGAYSINH], [CCCD], [SDT], [EMAIL], [DIACHI]) VALUES (N'KH-3', N'C', CAST(N'2023-08-02T00:00:00' AS SmallDateTime), N'124357884334', N'3453224444', N'', N'')
GO
INSERT [dbo].[LICH_LAM_VIEC] ([MA_LICH]) VALUES (N'1')
GO
INSERT [dbo].[LOAI_PHONG] ([MA_LOAI], [GIA_THUE_PHONG], [LOAI_PHONG], [SO_LUONG_NGUOI_TOI_DA]) VALUES (N'1          ', 300000.0000, N'Phòng đơn', 1)
INSERT [dbo].[LOAI_PHONG] ([MA_LOAI], [GIA_THUE_PHONG], [LOAI_PHONG], [SO_LUONG_NGUOI_TOI_DA]) VALUES (N'2          ', 600000.0000, N'Phòng đôi', 2)
INSERT [dbo].[LOAI_PHONG] ([MA_LOAI], [GIA_THUE_PHONG], [LOAI_PHONG], [SO_LUONG_NGUOI_TOI_DA]) VALUES (N'3          ', 800000.0000, N'Phòng 4 người', 4)
GO
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [TEN_NV], [NGAYSINH], [GIOITINH], [SDT], [CCCD], [EMAIL], [DIACHI], [MA_CV]) VALUES (N'BOSS', N'Lê Quang Bảo', CAST(N'2003-11-19T00:00:00' AS SmallDateTime), 1, N'0931436117  ', N'010000000001', N'hs.quangbao@gmail.com                             ', N'17 Nguyễn Văn A, P.14, Q. Bình Thạnh', N'NVQL ')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [TEN_NV], [NGAYSINH], [GIOITINH], [SDT], [CCCD], [EMAIL], [DIACHI], [MA_CV]) VALUES (N'NV-1', N'Nguyễn B
', CAST(N'2003-08-19T00:00:00' AS SmallDateTime), 1, N'0753459761  ', N'079137579797
', N'B@gmail.com  
                                   ', N'78 Trần Quốc Toản, P4, Q6
', N'NVBV')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [TEN_NV], [NGAYSINH], [GIOITINH], [SDT], [CCCD], [EMAIL], [DIACHI], [MA_CV]) VALUES (N'NV-2', N'Nguyễn A', CAST(N'2005-07-08T00:00:00' AS SmallDateTime), 1, N'0123856789  ', N'015975345685  ', N'A@gmail.com                                       ', N'78 Trần Quốc Toản, P4, Q6', N'NVBP')
GO
INSERT [dbo].[PHIEU_DAT_PHONG] ([SO_PHIEU_DAT_PHONG], [MA_KH], [NGAYLAP], [DATCOC], [TONGTIEN]) VALUES (N'PDP-1', N'KH-1', CAST(N'2020-01-01T00:00:00' AS SmallDateTime), 2000000.0000, 2000000.0000)
INSERT [dbo].[PHIEU_DAT_PHONG] ([SO_PHIEU_DAT_PHONG], [MA_KH], [NGAYLAP], [DATCOC], [TONGTIEN]) VALUES (N'PDP-10', N'KH-1', CAST(N'2020-10-01T00:00:00' AS SmallDateTime), 6500000.0000, 6500000.0000)
INSERT [dbo].[PHIEU_DAT_PHONG] ([SO_PHIEU_DAT_PHONG], [MA_KH], [NGAYLAP], [DATCOC], [TONGTIEN]) VALUES (N'PDP-11', N'KH-1', CAST(N'2020-11-01T00:00:00' AS SmallDateTime), 7000000.0000, 7000000.0000)
GO
INSERT [dbo].[PHONG] ([MA_PHONG], [SO_PHONG], [TRANG_THAI], [TANG], [MA_LOAI]) VALUES (N'101        ', N'1          ', 0, 1, N'1          ')
INSERT [dbo].[PHONG] ([MA_PHONG], [SO_PHONG], [TRANG_THAI], [TANG], [MA_LOAI]) VALUES (N'102        ', N'2          ', 0, 1, N'1          ')
INSERT [dbo].[PHONG] ([MA_PHONG], [SO_PHONG], [TRANG_THAI], [TANG], [MA_LOAI]) VALUES (N'103        ', N'3          ', 0, 1, N'1          ')
GO
INSERT [dbo].[TIEN_NGHI] ([MA_TN], [TEN_TN], [KICH_THUOC], [MAU_SAC], [GiaTien]) VALUES (N'1', N'Tủ quần áo', N'200/60/240 cm', N'Nâu', 1000000.0000)
INSERT [dbo].[TIEN_NGHI] ([MA_TN], [TEN_TN], [KICH_THUOC], [MAU_SAC], [GiaTien]) VALUES (N'2', N'Tivi', N'32 inch', N'Đen', 2000000.0000)
INSERT [dbo].[TIEN_NGHI] ([MA_TN], [TEN_TN], [KICH_THUOC], [MAU_SAC], [GiaTien]) VALUES (N'3', N'Điều hòa', N'265 x 756 x 184mm', N'Trắng', 3000000.0000)
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_LAM_VIEC]  WITH CHECK ADD FOREIGN KEY([MA_LICH])
REFERENCES [dbo].[LICH_LAM_VIEC] ([MA_LICH])
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_LAM_VIEC]  WITH CHECK ADD FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_DAT_PHONG]  WITH CHECK ADD FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[PHONG] ([MA_PHONG])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_DAT_PHONG]  WITH CHECK ADD FOREIGN KEY([SO_PHIEU_DAT_PHONG])
REFERENCES [dbo].[PHIEU_DAT_PHONG] ([SO_PHIEU_DAT_PHONG])
GO
ALTER TABLE [dbo].[CHI_TIET_PHONG]  WITH CHECK ADD FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[PHONG] ([MA_PHONG])
GO
ALTER TABLE [dbo].[CHI_TIET_PHONG]  WITH CHECK ADD FOREIGN KEY([MA_TN])
REFERENCES [dbo].[TIEN_NGHI] ([MA_TN])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([SO_PHIEU_DAT_PHONG], [MA_PHONG])
REFERENCES [dbo].[CHI_TIET_PHIEU_DAT_PHONG] ([SO_PHIEU_DAT_PHONG], [MA_PHONG])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([MA_CV])
REFERENCES [dbo].[CHUC_VU] ([MA_CV])
GO
ALTER TABLE [dbo].[PHIEU_DAT_PHONG]  WITH CHECK ADD FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI_PHONG] ([MA_LOAI])
GO
